*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f9f9f9ff;
    --secondary-color: #ccc;
    --dark-color: #333;
    --blue-color: #007BFF;
    --text-color: #000;
    --background-color: #e2e6e970;
}

body {
    font-family: sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--blue-color);
    text-decoration: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav .navbars {
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbars li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transition: color 0.3s;
}
.navbars li a:hover {
    color: var(--blue-color);
}

header .login a {
    margin-left: 15px;
    text-decoration: none;
    color: var(--blue-color);
    font-weight: 500;
}
main{
    padding: 20px 0;
    margin-top: 30px;
}

main .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.banner img{
    width: 100%;
    max-width: 450px;
}

.banner .info{
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.banner .info h2{
    font-size: 36px;
    color: var(--blue-color);
}

.banner .info p{
    font-size: 18px;
    color: var(--text-color);
    line-height: 1.6;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    color: var(--blue-color);
    border: 1px solid var(--blue-color);
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    flex-shrink: 0;
    transition: background-color 0.3s;
    position: relative;
    z-index: 1000;
    overflow: hidden;
    transition: .3s;
}

.btn:hover{
    transform: scale(1.1);
    color: white;
    border: none;
}

.btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    background: var(--blue-color);
    transform: translate(-120px);
    z-index: -1;
    transition: .3s;
}
.btn::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background: var(--blue-color);
    transform: translate(120px);
    z-index: -1;
    transition: .3s;
}

/* .btn:hover{
    transform: scale(1.1);
    color: white;
} */
.btn:hover::after{
    transform: translate(0);
}

.btn:hover::before{
    transform: translate(0);
}


.about{
    background-color: var(--background-color);
    padding: 20px;
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.about .content{
    width: 100%;
    max-width: 600px;
}

.about .content h3{
    font-size: 28px;
    color: var(--blue-color);
    margin-bottom: 20px;
}

.about .content p{
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.3;
    margin-bottom: 20px;
}
.about img{
    width: 100%;
    max-width: 500px;
    object-fit: cover;
    object-position: center;
}

.products{
    padding: 25px;
    margin-top: 40px;
    text-align: center;
}
.products h2{
    font-size: 28px;
    color: var(--blue-color);
    margin-bottom: 20px;
}

.products .product-list{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.products .product-list .product-item{
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: 5px;
    width: 320px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease-out;
}

/* Add morphism to hover */
.product-item:hover{
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1),
    -10px -10px 10px white;
    transform: translateY(-10px);
}

/* .product-item:hover{
    box-shadow: 0 1px 5px var(--secondary-color);
    transform: scale(1.05);
} */

.product-item h3{
    font-size: 22px;
    color: var(--blue-color);
    margin-bottom: 10px;
}


.product-item p{
    font-size: 16px;
    color: var(--text-color);
    /* margin-bottom: 40px; */
}

.product-item .btn{
    justify-self: end;
}

.product-item img{
    width: 100%;
    margin-bottom: 10px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}


.products a{
    margin-top: 20px;
    font-size: 16px;
}

.price{
    font-weight: bold;
}

.humberger{
    padding: .5em;
    background: none;
    border: none;
    cursor: pointer;
}

.humberger i{
    color: var(--text-color-color);
}

.header_top_left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.collapse{
    display: flex;
}
.toggle_collapse{
    display: flex;
}

@media (min-width: 620px ){
    .humberger{
        display: none;
    }
    nav .close{
        display: none;
    }
}

@media(max-width: 620px){
    nav .navbars{
        display: none;
    }
    nav .collapse{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: .5em;
        order: 3;
        width: 100%;
        animation: down .1s ease-in-out forwards;
    }
    nav .close{
        background: none;
        border: none;
        outline: none;
        font-size: 16px;
        padding: .5em;
        align-self: flex-end;
    }
    nav .toggle_collapse{
        animation: up .1s ease-in-out forwards;

    }
}

@keyframes down {
    from{
        height: 0px;
    }to{
        height: 200px;
    }
}
@keyframes up {
    from{
        height: 200px;
    }to{
        height: 0px;
    }
}