*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fff;
    --secondary-color: #ccc;
    --blue-color: #007BFF;
    --text-color: #000;
    --background-color: #f4f4f4;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--blue-color);
    text-decoration: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .navbars {
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbars li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transition: color 0.3s;
}
.navbars li a:hover {
    color: var(--blue-color);
}

header .login a {
    margin-left: 15px;
    text-decoration: none;
    color: var(--blue-color);
    font-weight: 500;
}
main{
    padding: 20px;

    margin-top: 30px;
}

main .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.banner img{
    width: 100%;
    max-width: 450px;
}

.banner .info{
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.banner .info h2{
    font-size: 36px;
    color: var(--blue-color);
}

.banner .info p{
    font-size: 18px;
    color: var(--text-color);
    line-height: 1.6;
}

.banner .info a{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--blue-color);
    color: var(--primary-color);
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    flex-shrink: 0;
    transition: background-color 0.3s;
}
.btn:hover{
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

.about{
    padding: 20px;
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.about .content h3{
    font-size: 28px;
    color: var(--blue-color);
    margin-bottom: 20px;
}

.about .content p{
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.3;
    margin-bottom: 20px;
}
.about img{
    width: 100%;
    max-width: 500px;
    margin-right: 20px;
}

.products{
    padding: 25px;
    margin-top: 40px;
    text-align: center;
}
.products h2{
    font-size: 28px;
    color: var(--blue-color);
    margin-bottom: 20px;
}

.products .product-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.products .product-list .product-item{
    border: 2px solid var(--secondary-color);
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: 5px;
    width: 320px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s;
}

.product-item h3{
    font-size: 22px;
    color: var(--blue-color);
    margin-bottom: 10px;
}

.product-item p{
    font-size: 16px;
    color: var(--text-color);
    /* margin-bottom: 40px; */
}

.product-item .btn{
    justify-self: end;
}

.product-item img{
    width: 100%;
    margin-bottom: 10px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.product-item:hover{
    box-shadow: 0 1px 5px var(--secondary-color);
    transform: scale(1.05);
}

.products a{
    margin-top: 20px;
    font-size: 16px;
}
.banner .info a:hover{
    background-color: var(--secondary-color);
    transform: scale(1.05);
}