*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fff;
    --secondary-color: #ccc;
    --blue-color: #007BFF;
    --text-color: #000;
    --background-color: #f4f4f4;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--blue-color);
    text-decoration: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .navbars {
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbars li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transition: color 0.3s;
}
.navbars li a:hover {
    color: var(--blue-color);
}

header .login a {
    margin-left: 15px;
    text-decoration: none;
    color: var(--blue-color);
    font-weight: 500;
}