*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fff;
    --secondary-color: #ccc;
    --text-color: #000;
    --background-color: #f4f4f4;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}